* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

:root {
  /* Primary */

  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* Neutral */

  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  background: var(--light-gray);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 1rem;
}

/* HEADER */

.tittle {
  padding: 2rem 1.4rem;
  background: #fff;
}

.tittle__main {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
  color: var(--cyan);
}

.tittle__sub {
  font-size: 0.9rem;
  margin-bottom: 1.1rem;
  color: var(--bright-yellow);
}

.tittle__info {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 170%;
  color: var(--grayish-blue);
}

/* MAIN */

/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/
