* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

:root {
  /* Primary */

  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* Neutral */

  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  background: var(--light-gray);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  margin: 3rem auto;
  color: #fff;
  max-width: 340px;
}

.box {
  padding: 2rem 1.4rem;
}

/* HEADER */

.tittle {
  background: #fff;
  border-radius: 0.4rem 0.4rem 0 0;
}

.tittle__main {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
  color: var(--cyan);
}

.tittle__sub {
  font-size: 0.9rem;
  margin-bottom: 1.1rem;
  color: var(--bright-yellow);
}

.tittle__info {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 170%;
  color: var(--grayish-blue);
}

/* SECTION */

.subscription {
  background: var(--cyan);
}

.subscription__tittle {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.subscription__cost {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.subscription__cost-text {
  color: hsl(217, 34%, 82%);
  font-size: 0.9rem;
  font-weight: 400;
}

.subscription__info {
  color: var(--light-gray);
  margin-bottom: 2rem;
}

.subscription__btn {
  width: 100%;
  height: 3.2rem;
  background: var(--bright-yellow);
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.4rem 0.5rem hsl(179, 62%, 35%);
  transition: all 0.5s;
}

.subscription__btn:hover {
  background: var(--light-gray);
  color: var(--cyan);
}

/* ASIDE */

.about-us {
  background: hsl(178, 48%, 59%);
  border-radius: 0 0 0.4rem 0.4rem;
}

.about-us__tittle {
  font-size: 1.1rem;
  margin-bottom: 0.9rem;
}

.about-us__text {
  font-size: 0.9rem;
  line-height: 130%;
}
/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 750px) {
  .box {
    padding: 2rem 2rem;
  }

  body {
    height: 80vh;
    align-items: center;
    justify-content: center;
  }

  .container {
    max-width: 585px;
    margin: auto;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .tittle {
    grid-column: 1 / 3;
  }

  .subscription {
    border-radius: 0 0 0 0.4rem;
  }

  .about-us {
    border-radius: 0 0 0.4rem 0;
  }
}

@media screen and (min-width: 1024) {
  .container {
    max-width: 900px;
  }
}

/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/
